---
layout: splash
---

{% comment %}
  - First, fetch the current week as `current`
  - Then, use its next/last fields to reference those weeks

  Can't use paginator, only works for "posts"
{% endcomment %}

{% for week in site.weekly reversed %}
  {% if week.thisweekid == page.thisweekid %}
    {% assign current = week %}
  {% endif %}
{% endfor %}

{% for week in site.weekly reversed %}
  {% if week.thisweekid == current.lastweekid %}
    {% assign lastweek = week %}
  {% endif %}
  {% if week.thisweekid == current.nextweekid %}
    {% assign nextweek = week %}
  {% endif %}
{% endfor %}

{% if current.thisweektitle != empty %}
  <h3>{{current.thisweektitle}}</h3>
{% endif %}
<h1>Weekly: <a href="{{ current.url }}">{{current.thisweek}}</a></h1>

<hr>

{% if current.text.intro %}
<div>
  {{ current.text.intro | markdownify }}
  <hr>
</div>
{% endif %}


{% comment %}
  # --------
  # Featured News
  # --------
{% endcomment %}

<div>
  <h1 class="section-header">Featured</h1>
  {% assign featured_news_tag = page.thisweekid | append: '-news-feature' %}
  {% for post in site.posts reversed %}
    {%
      if post.published_in contains featured_news_tag
    %}
    <article>
      <h2>
        <a href="{{post.source}}" target="_blank" rel="noopener">
          {{post.title}}
        </a>
        <div class="site">
        {%
            assign ftr = post.source |
              downcase |
              replace: "http://", "" |
              replace: "https://", "" |
              replace: "www.", "" |
              split: "/"
          %}
          {{ ftr.first }}
        </div>
      </h2>
      <div>{{post.content}}</div>
    </article>
    {% endif %}
  {% endfor %}
</div>

<hr>

{% comment %}
  # --------
  # General news links
  # --------
{% endcomment %}

<div>
  {% assign news_tag = page.thisweekid | append: '-news' %}
  {% for post in site.posts reversed %}
    {%
      if post.published_in contains news_tag
    %}
    <ul>
      <li>
        <a href="{{post.source}}" target="_blank" rel="noopener">
          {{post.title}}
        </a>
        <span class="site">
        {%
            assign link = post.source |
              downcase |
              replace: "http://", "" |
              replace: "https://", "" |
              replace: "www.", "" |
              split: "/"
          %}
          {{ link.first }}
        </span>
      </li>
    </ul>
    {% endif %}
  {% endfor %}
</div>


{% comment %}
  # --------
  # Featured Research
  # --------
{% endcomment %}

<div>
  <h1 class="section-header">Research</h1>
  {% assign featured_research_tag = page.thisweekid | append: '-research-feature' %}
  {% for post in site.posts reversed %}
    {%
      if post.published_in contains featured_research_tag
    %}
    <article>
      <h2>
        <a href="{{post.source}}" target="_blank" rel="noopener">
          {{post.title}}
        </a>
        <div class="site">
        {%
            assign ftr = post.source |
              downcase |
              replace: "http://", "" |
              replace: "https://", "" |
              replace: "www.", "" |
              split: "/"
          %}
          {{ ftr.first }}
        </div>
      </h2>
      <div>{{post.content}}</div>
    </article>
    {% endif %}
  {% endfor %}
</div>

<hr>

{% comment %}
  # --------
  # General research links
  # --------
{% endcomment %}

<div>
  {% assign research_tag = page.thisweekid | append: '-research' %}
  {% for post in site.posts reversed %}
    {%
      if post.published_in contains research_tag
    %}
    <ul>
      <li>
        <a href="{{post.source}}" target="_blank" rel="noopener">
          {{post.title}}
        </a>
        <span class="site">
        {%
            assign link = post.source |
              downcase |
              replace: "http://", "" |
              replace: "https://", "" |
              replace: "www.", "" |
              split: "/"
          %}
          {{ link.first }}
        </span>
      </li>
    </ul>
    {% endif %}
  {% endfor %}
</div>

{% comment %}
  # --------
  # Optional "Other/fun/code/edu/whatever" stuff
  # --------
{% endcomment %}

<div>
  <h1 class="section-header">Sidebar</h1>
  {% assign other_tag = page.thisweekid | append: '-other' %}
  {% for post in site.posts reversed %}
    {%
      if post.published_in contains other_tag
    %}
    <ul>
      <li>
        <div>
        <a href="{{post.source}}" target="_blank" rel="noopener">
          {{post.title}}
        </a>
        <span class="site">
        {%
            assign otr = post.source |
              downcase |
              replace: "http://", "" |
              replace: "https://", "" |
              replace: "www.", "" |
              split: "/"
          %}
          {{ otr.first }}
        </span>
        </div>
        {% comment %}
          # "Empty" `.content` is always length = 1 due to newline
          # so check that contentLen > 1 in order to display
        {% endcomment %}
        {% assign contentLen = post.content | size %}
        {% if contentLen > 1 %}
        <div>
          {{ post.content }}
        </div>
        {% endif %}
      </li>
    </ul>
    {% endif %}
  {% endfor %}
</div>

{% comment %}
  # --------
  # Optional footer
  # --------
{% endcomment %}

{% if current.text.outro %}
<h1 class="section-header">The Final Word</h1>
<div>
  {{ current.text.outro | markdownify }}
</div>
{% endif %}


{% comment %}
  # --------
  # Footer SPONSORSHIP
  # --------
{% endcomment %}

{% if current.sponsors.footer %}
<div>
  <h1 class="section-header">Partners</h1>
  {% for spnid in current.sponsors.footer %}
    {% assign sponsor = site.data.sponsors[spnid] %}
    {% if sponsor %}
    <a href="{{sponsor.link}}" target="_blank" rel="noopener">{{sponsor.name}}</a>
    {% if forloop.last != true %}&nbsp;|{% endif %}
    {% else %}
    <span style="background-color: red">Add <b>{{spnid}}</b> to /_data/sponsors.yml</span>
    {% endif %}
  {% endfor %}
</div>
{% endif %}


<div class="pagination">

  {% comment %}

  # 17 Oct 16:
  # DISABLING the reverse chron listing of Weekly releases.
  # Next step: Style and use as archive backlinks (SEO/nav)

  <div>Dev helper:</div>
  {% for week in site.weekly reversed %}
    <div>
      {{week.thisweekid}} - {{week.url}}
      {% if week.thisweekid == page.thisweekid %}
        <b>Current!</b>
      {% endif %}
    </div>
  {% endfor %}
  {% endcomment %}

  {% if lastweek %}
    <a class="pagination-item older" href="{{ lastweek.url | prepend: site.baseurl }}">Previous Weekly</a>
  {% else %}
    <span class="pagination-item older">Previous Weekly</span>
  {% endif %}
  {% if nextweek %}
    <a class="pagination-item newer" href="{{ nextweek.url | prepend: site.baseurl }}">Next Weekly</a>
  {% else %}
    <span class="pagination-item newer">&nbsp;</span>
  {% endif %}
</div>
