---
layout: splash
---

{% comment %}
  - First, fetch the current week as `current`
  - Then, use its next/last fields to reference those weeks

  Can't use paginator, only works for "posts"
{% endcomment %}

{% for week in site.weekly reversed %}
  {% if week.thisweekid == page.thisweekid %}
    {% assign current = week %}
  {% endif %}
{% endfor %}

{% for week in site.weekly reversed %}
  {% if week.thisweekid == current.lastweekid %}
    {% assign lastweek = week %}
  {% endif %}
  {% if week.thisweekid == current.nextweekid %}
    {% assign nextweek = week %}
  {% endif %}
{% endfor %}

{% if current.thisweektitle != empty %}
  <h3>{{current.thisweektitle}}</h3>
{% endif %}
<h1>Weekly: <a href="{{ current.url }}">{{current.thisweek}}</a></h1>

<hr>

{% if current.content != empty %}
<div>
  {{ current.content }}
  <hr>
</div>
{% endif %}


{% comment %}
  # --------
  # Featured
  # --------
{% endcomment %}

<div>
  <h1 class="section-header">Featured</h1>
  {% for newsitem in site.news reversed %}
    {%
      if newsitem.thisweekid == page.thisweekid and newsitem.tags contains 'wk:feature'
    %}
    <article>
      <h2>
        <a href="{{newsitem.source}}" target="_blank" rel="noopener">
          {{newsitem.title}}
        </a>
        <div class="site">
        {%
            assign ftr = newsitem.source |
              downcase |
              replace: "http://", "" |
              replace: "https://", "" |
              replace: "www.", "" |
              split: "/"
          %}
          {{ ftr.first }}
        </div>
      </h2>
      <div>{{newsitem.content}}</div>
    </article>
    {% endif %}
  {% endfor %}
</div>

<hr>

{% comment %}
  # --------
  # General news links
  # --------
{% endcomment %}

<div>
  {% for lnk in site.news reversed %}
    {%
      if lnk.thisweekid == page.thisweekid and lnk.tags contains 'wk:link'
    %}
    <ul>
      <li>
        <a href="{{lnk.source}}" target="_blank" rel="noopener">
          {{lnk.title}}
        </a>
        <span class="site">
        {%
            assign link = lnk.source |
              downcase |
              replace: "http://", "" |
              replace: "https://", "" |
              replace: "www.", "" |
              split: "/"
          %}
          {{ link.first }}
        </span>
      </li>
    </ul>
    {% endif %}
  {% endfor %}
</div>


{% comment %}
  # --------
  # Research
  # --------
{% endcomment %}

{% assign hasres = false %}
{% for r in site.research %}
  {% if r.thisweekid == page.thisweekid %}
    {% assign hasres = true %}
  {% endif %}
{% endfor %}

{% if hasres %}
<div>
  <h1 class="section-header">Research</h1>
  <ul>
    {% for r in site.research %}
      {% if r.thisweekid == page.thisweekid %}
        <li><a href="{{r.source}}">{{r.title}}</a></li>
        {% if r.snippet %}
        <div>{{r.snippet | markdownify}}</div>
        {% endif %}
        {% if r.long %}
        <div><a href="{{r.url}}">Read More...</a></div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% else %}
<div>Pretty much no research this week..</div>
{% endif %}


{% comment %}
  # --------
  # Other news links
  # --------
{% endcomment %}

{% assign hasother = false %}
<div>
  <h1 class="section-header">Other</h1>
  {% for itm in site.news reversed %}
    {%
      if itm.thisweekid == page.thisweekid and itm.tags contains 'wk:other'
    %}
    {% assign hasother = true %}
    <ul>
      <li>
        <a href="{{itm.source}}" target="_blank" rel="noopener">
          {{itm.title}}
        </a>
        <span class="site">
        {%
            assign site = itm.source |
              downcase |
              replace: "http://", "" |
              replace: "https://", "" |
              replace: "www.", "" |
              split: "/"
          %}
          {{ site.first }}
        </span>
      </li>
    </ul>
    {% endif %}
  {% endfor %}

  {% if hasother != true %}
  No other news this week dude...
  {% endif %}
</div>


<div class="pagination">

  {% comment %}

  # 17 Oct 16:
  # DISABLING the reverse chron listing of Weekly releases.
  # Next step: Style and use as archive backlinks (SEO/nav)

  <div>Dev helper:</div>
  {% for week in site.weekly reversed %}
    <div>
      {{week.thisweekid}} - {{week.url}}
      {% if week.thisweekid == page.thisweekid %}
        <b>Current!</b>
      {% endif %}
    </div>
  {% endfor %}
  {% endcomment %}

  {% if lastweek %}
    <a class="pagination-item older" href="{{ lastweek.url | prepend: site.baseurl }}">Previous Weekly</a>
  {% else %}
    <span class="pagination-item older">Previous Weekly</span>
  {% endif %}
  {% if nextweek %}
    <a class="pagination-item newer" href="{{ nextweek.url | prepend: site.baseurl }}">Next Weekly</a>
  {% else %}
    <span class="pagination-item newer">&nbsp;</span>
  {% endif %}
</div>
